<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ElementTimeout" value="30"/>
		<add key="Browser" value="Firefox"/>
		<add key="StartUrl" value="https://yandex.by/"/>
		<add key="Login" value="Selenium1Web1Driver@yandex.by"/>
		<add key="Password" value="$elenium789"/>
	</appSettings>
</configuration>